.navbar {
  background: #fceff9 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 50px 50px;
  opacity: 1;
  padding: 18px 34px;
}

.logo a {
  font: normal normal 900 35px/43px 'black';
  letter-spacing: 0px;
  opacity: 1;
  color: #080708;
}
